
div{
    column-count: 3;/*IE 10+*/
    -webkit-column-count: 3;
    column-gap: 30px;
    -webkit-column-gap: 30px;
    column-rule: 1px dashed black;
    -webkit-column-rule:1px dashed black ;
}

.container{
    margin: auto;
    width: 700px;
}